.wrappercont {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.maincont {
  height: 100%;
  width: 100%;
  max-width: 2200px;
  box-sizing: border-box;
}
