.main_div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  opacity: 0.8;
  z-index: 9999;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: black;
}

.modal_cont {
  display: flex;
  position: relative;
  height: 90%;
  z-index: 10000;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.2vw;
}

.storyimage {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
}

.story_text_cont {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  gap: 0.5vw;
  width: 100%;

  box-sizing: border-box;
  z-index: 99;
  text-align: start;
  padding: 0.8vw;
}
.story_heading {
  font-size: 1.2vw;
}

.story_subtext {
  font-size: 0.85vw;
}

.gradientimg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 0.5vw;
}

.storybox {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  font-family: "DM Sans", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: white;
  position: relative;
  border-radius: 1.5vw;
}

.arrow {
  height: 5vw;
}

.btn_panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upper_cont {
  width: 100%;
  position: absolute;
  top: 0;
  height: 10vh;
}

.slide_array_cont {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5vh;
  height: 50%;
  padding: 0 2vh;
  box-sizing: border-box;
}

.slide_array_box {
  flex: 1;
  height: 0.2vw;
  background-color: #d9d9d980;
}

.active_slide {
  background-color: white;
}

.upper_btn_panel {
  display: flex;
  justify-content: space-between;
  padding: 0 2vh;
}

.loading_text {
  font-family: "DM Sans", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: white;
  z-index: 10000;
}

.btn {
  cursor: pointer;
}

.custom_toast_message {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  color: #ff0000;
  font-family: "DM Sans", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  border-radius: 1.7vw;
}

.likes_div {
  display: flex;
  gap: 0.6vw;
}

.likes_count {
  font-family: "DM Sans", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 0.9vw;
}

@media (max-width: 600px) {
  .storybox {
    width: 100%;
    height: 100%;
  }

  .left_arrow {
    opacity: 0;
    position: absolute;
    left: 5vh;
    height: 20vh !important;
    z-index: 20000;
  }

  .right_arrow {
    opacity: 0;
    position: absolute;
    right: 5vh;
    height: 20vh !important;
    z-index: 20000;
  }

  .modal_cont {
    height: 100%;
    z-index: 10000;
    width: 100%;
  }

  .story_text_cont {
    padding: 2vw;
    padding-left: 4vw;
    margin-bottom: 10vw;
  }
  .story_heading {
    font-size: 7vw;
    margin: 0px;
  }

  .story_subtext {
    font-size: 5vw;
  }

  .likes_count {
    font-size: 6vw;
  }

  .likes_div {
    gap: 3vw;
    align-items: center;
  }

  .custom_toast_message {
    width: 100%;
    height: 6vh;
    margin-bottom: 8vh;
    text-align: center;
    border-radius: 5vw;
  }
  .main_div {
    inset: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .active_slide {
    background-color: white;
  }

  .slide_array_box {
    height: 0.6vw;
  }

  .btn {
    height: 3.5vh;
  }
}
